* {
    font-family: "Oswald", sans-serif;
}

html {
    font-size: 62.5%;  /* converts to 10px */ 
    background-color: #fff; 
    box-sizing: border-box;
}

body { /* prevent user from selecting text in the calculator */ 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 62rem;
}

.title {
    height: 4rem;
    display: block;
    margin-bottom: 3rem;
}

h1 {
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: 100;
    text-transform: lowercase;
}

#container {
    width: 60rem;
    height: 80rem;
    border: .1rem solid #eeeeee;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0; /* to get rid of the spacing between inline statements */ 
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 15px;
    background-color: #000;
}

#display {
    width: 56.75rem;
    height: 8rem;
    background-color: #eeeeee;
    border-radius: 5rem;
    margin: .625rem .625rem;
}

#display__numbers {
    text-align: right;
    line-height: 8rem;
    color: #000;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin-right: 3rem;
}

button {
    font-size: 3rem;
    height: 7rem;
    width: 28rem;
    border-radius: 5rem;
    border-width: 0;
    border-style: none;
    margin: .875rem .875rem;
}


button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(.2rem);
    border: none;
}

button:focus {
    outline:0;
}

.btn--number {
    color: #fff;
    background-color: #404040;
    margin: .875rem .875rem;
    border-width: 0;
    width: 18rem;
}

.btn--other {
    color: #fff;
    background-color: #ff8000;
    margin: .875rem .875rem;
    border-width: 0;
}

/* repeated code because of specific event listeners on all the numbers and we want to prevent being able to have two decimal points in an entry */
.btn--decimal {
    color: #fff;
    background-color: #282828;
    margin: .875rem .875rem;
    border-width: 0;
}

.btn--long-horizontal {
    width: 95%;
    margin: .875rem .875rem;
    border-width: 0;
}

.btn--long-vertical {
    height: 15.5rem;
    margin: .875rem .875rem;
    border-width: 0;
    float: right;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    position: absolute;
    display: block;
    width: 40rem;
    text-align: center;
    margin: auto;
    right: 0;
    bottom: 1.5rem;
    left: 0;
    text-transform: lowercase;
}

footer a {
    font-family: 'Courier New', Courier, monospace;
}

footer a:visited {
    color: #000;
}
  